nav {
  width: 100%;
  color: grey;
  font-size: 30px;
  margin-bottom: 20px;
  background-color: black;
  height: auto;
}

nav li {
  display: inline-block;
  padding: 20px 0;
  width: 33%;
  text-align: center;
}

ul {
  padding-left: 0px;
}

img {
  width: 100%;
}